sakai_student_username="INSERT USERNAME HERE"
sakai_student_password="INSERT PASSWORD HERE"
sakai_instructor_username="INSERT USERNAME HERE"
sakai_instructor_password="INSERT PASSWORD HERE"
sakai_ta_username="INSERT USERNAME HERE"
sakai_ta_password="INSERT PASSWORD HERE"